body{
    background-color: #BAD7E9;
}
.templateContainer{
    margin: 5% 0;
}
.templateContainer > .searchInput_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
.templateContainer > .searchInput_Container input{
    width: 50%;
    padding: 10px;
    outline: none;
    border-radius: 50px;
}
.templateContainer .template_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap:wrap;
    max-width: 100px;
    
}
.templateContainer .template_Container .template{
    background-color:#417cba;
    margin: 18px;
    padding: 30px 40px;
    border-radius: 35px;
}
.templateContainer .template_Container .template img{
    height: 200px;
}
.backgroundColor{
    border-radius: 10px;
}